{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/musica" %}

{% block content %}

<p>nunca fui muito chegado a música, mas tenho me aproximado a ela nos ultimos anos, tentando variar meu conhecimento.</p>
<br>
<p>quem sabe não começo a colocar umas notas nos albums.</p>

<p>paginas sobre musica:</p>
<ul id="indent">
    <li><a href="./ouvidas.html">albums que eu já ouvi.</a></li>
    <li><a href="./ouvir.html">albums que eu irei ouvir.</a></li>
</ul>

{% endblock %}
