{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/musica" %}

{% block content %}

<p>albums que eu sei que eu já ouvi inteiros.</p>

<ul id="indent">
    <li>ボッサ・カリオカ</li>
    <li>in rainbows - radiohead</li>
    <li>hypnotize - system of a down</li>
    <li>mezmerize - system of a down</li>
    <li>going up - the rah band</li>
    <li>dookie - green day</li>
    <li>destine ep - vector graphics</li>
    <li>demon days - gorillaz</li>
    <li>plastic beach - gorillaz</li>
    <li>belaya polasa - molchat doma</li>
    <li>Этажи - molchat doma</li>
    <li>С крыш наших домов - molchat doma</li>
    <li>monument - molchat doma</li>
    <li>enter the wu tang - wu tang</li>
    <li>graduation - kanye west</li>
    <li>sunday 2pm - mr gabba</li>
    <li>planet piano - mr gabba</li>
    <li>timely - anri</li>
    <li>angel touch - cindy</li>
    <li>heroes - david bowie</li>
    <li>the rise and fall of ziggy stardust and the spiders from mars - david bowie</li>
    <li>betwitched - laufey</li>
    <li>homework - daft punk</li>
    <li>this old dog - mac demarco</li>
    <li>nevermind - nirvana</li>
    <li>in utero - nirvana</li>
    <li>no more tears - ozzy</li>
    <li>animals - pink floyd</li>
    <li>the wall - pink floyd</li>
    <li>wish you were here - pink floyd</li>
    <li>the dark side of the moon - pink floyd</li>
    <li>consciencia - punkzilla</li>
    <li>liberte-se para mudar - punkzilla</li>
    <li>hora de acordar - punkzilla</li>
    <li>mamonas assassinas - mamonas assassinas</li>
    <li>construção - chico buarque</li>
    <li>chico buarque de hollanda - chico buarque</li>
    <li>chico buarque - chico buarque</li>
    <li>clube da esquina - chico buarque</li>
    <li>devorados pelo cão - o cão</li>
    <li>original espanta crente style - o cão</li>
    <li>com a corda toda - garotos podres</li>
    <li>bis jovem guarda - paulo sergio </li>
    <li>krig ha bandolo - raul seixas</li>
    <li>eu nasci há 10 mil anos atras - raul seixas</li>
    <li>gita - raul seixas</li>
    <li>maluco beleza - raul seixas</li>
    <li>uah-bap-lu-bap-lah-bein-bum - raul seixas</li>
    <li>pague para entrar reze para sair - alibi</li>
    <li>o descobridor dos sete mares - tim maia</li>
</ul>

<p>singles:</p>
<ul id="indent">
    <li>eu tenho medo das pessoas de bem - punkzilla</li>
    <li>eu odeio o véio da van - punkzilla</li>
    <li>agro é pop - punkzilla</li>
    <li>o caminho do bem - tim maia</li>
    <li>rally fm - noxygen</li>
    <li>rally station - noxygen</li>
    <li>marlboro club - pxrkx</li>
    <li>Звезды - molchat doma</li>
</ul>

{% include "partials/goback.njk" %}

{% endblock %}
