{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/musica" %}

{% block content %}

<p>aqui os proximos algums que vou ouvir, ou simplesmente os que eu quero ouvir.</p>

<ul>
    <li>ok computer - radiohead</li>
    <li>la woman - the doors</li>
    <li>unknown pleasures - joy division</li>
    <li>anarkhophobia - ratos de porao</li>
    <li>toxicity - system of a down</li>
    <li>salad days - mac demarco</li>
    <li>currents - tame impala</li>
    <li>blonde - frank ocean</li>
    <li>escorrendo pelo ralo - surra</li>
    <li>iskuros - plastique noir</li>
    <li>american idiot - green day</li>
    <li>paranoid - black sabbath</li>
    <li>never mind the bollocks, here’s the sex pistols - sex pistols</li>
    <li>death of a party girl - tv girl</li>
    <li>canções para ninar - garotos podres</li>
    <li>mutter - ramstein</li>
</ul>

{% include "partials/goback.njk" %}

{% endblock %}
