{% extends "layouts/base.njk" %}

{% set title = "moon - pensamentos"%}

{% block content %}
<p><i>eu não sabia muito bem como organizar essas ideias e separa-las certinho em diferentes páginas, então tive a ideia de fazer tudo em uma enorme página.</i></p>
<br>

<p>carros, sempre foram uma enorme paixão na minha vida, sempre cresci cercado deles, admirando eles, desenhando eles e sonhando com eles. com o acesso a internet o fascinio aumentou mais ainda, passando dias e dias só pesquisando sobre, por muito tempo minha trilha sonora para estudo eram sons de <i>rally</i>. com o tempo comecei a me interessar bastante por mecanica, mas não segui não. mesmo depois de tantos anos de paixão de ter gastado uma parte consideravel da minha vida apenas os admirando, eu posso dizer hoje que <b>carros me dão raiva</b>.</p>
<br>

<p>os carros junto da agropecuaria são os grandes reais motivos para o aquecimento global estar tão exacerbado. existem muitos deles, muito mais do que realmente se precisa, a grande maioria das pessoas não precisa deles, em países europeus por exemplo, eles nem deveriam existir, pois os espaços são menores. mas é obvio que existem né, e estão por toda a parte, causando uma <i>fodida</i> poluição sonora durante as 24 horas do dia. voce até pode dizer: "mas e os eletricos?" os eletricos são uma burrice sem tamanho, carros eletricos não são uma solução, são um problema extra. </p>
<br>

<p>carros eletricos são vendidos como uma forma limpa e sustentavel de ainda podermos nos locomover do mesmo modo de sempre, mas isso é uma completa mentira. carros eletricos realmente não poluem, pelo menos na rua, pois em grande parte a energia que usam não é de origem sustentavel, dependem de materias não-renovaveis que em grande parte são adquiridos em países pobres por metodos escravos. eles não diminuem a poluição, pois precisa de mais energia para eles, e eles ainda aumentam o <b>NÚMERO DE CARROS</b>. não está saindo os carros a combustão para entrar os eletricos, eles estão convivendo entre si nas ruas, só está sendo uma desculpa para consumistas comprarem mais um carro.</p>
<br>

<p>mas se os eletricos não são a salvação, o que é? está pergunta é bem óbvio, temos pernas justamente para andar, pra maiores distancias temos bicicletas que existem desde o século 19. o problema está no planejamento das cidades, não vemos cidades para humanos, vemos apenas cidades para carros, ruas tomam mais espaços do que calçadas, isto soa correto pra você? cidades foram feitas para os humanos se unirem e se protegerem do exterior, mas aqui dentro de uma a maior parte do espaço das cidades eu não posso andar, pois serei atropelado. cidades são cada vez piores projetadas, menos se fortalece a economia local de um bairro, pois se presume que todo mundo tem um carro e pode ir o quão longe for.</p>
<br>

<p>cidades para automoveis também refletem a falta de arborização das cidades, você andando consegue enxergar vitrines, predios, consegue andar sem se bater em alguma coisa tranquilamente, mesmo cheio de arborização, mas um carro não. se a calçada estiver cheia de arvores como eles veriam as vitrines? aí que vemos os problemas. a solução para diminuir a poluição não são carros eletricos, são menos carros. a solução para menos carros não é conscientizar a população, é trocar a infraestrutura das cidades.</p>

<p class="warn">CIDADES SÂO PARA PESSOAS, NÂO AUTOMOVEIS</p>

{% set reply = "carros" %}
{% include "partials/pensamentos-footer.njk" %}

{% endblock %}
