{% extends "layouts/base.njk" %}

{% set title = "moon - pensamentos" %}

{% block content %}

<p>empresas sempre estão atrás de lucro, a coisa precisa se manter e acima de tudo melhorar e render mais lucro ainda, comunidades <b>NÂO</b>. Se a comunidade está constantemente buscando lucro, ela já não é mais uma comunidade em minha visão, a função dela é buscar o bem entre todos e não o lucro geral, para o bem geral não é necessário o lucro constantemente subindo. Sociedades deveriam ser o principal caso de comunidades, mas o que temos são governos que buscam lucro acima da população. Um <i>software</i> de código aberto está muito mais perto de ser uma comunidade do que qualquer sociedade moderna.</p>
<br>

<p>apesar de eu ter iniciado isso falando sobre governos e etc, eu prefiro falar sobre isso em relação a <i>software</i>, mas os conceitos ainda se aplicam. Um software de código aberto, desenvolvido pela comunidade, ele é feito por pessoas para pessoas, um software de qualquer empresa, mesmo que de código aberto, ele é feito por funcionarios para clientes. O fator humano <b>some</b>, nunca é uma pessoa usando o seu software, é apenas um idiota que você precisa que entenda os passos corretos.</p>
<br>

<p>por muito sempre achei interessante essa ideia de uma grande empresa, ter softwares abertos, é a "<i>liberdade se juntando com o capital</i>". só com o tempo fui pensando sobre, e para uma empresa tomar decisões contrárias a que seus usuários escolhem é simples, basta uma decisão, isso não ocorre em algo dirigido pela comunidade de maneira tão simples. Se o <b>whatsapp</b> fosse feito pela comunidade, você acha que realmente estariam começando a por anuncios nele? inclusive, o criador é contrario a isso, bastou as mãos de uma empresa e tudo muda. Tudo pelo <b>LUCRO</b>.</p>
<br>

<p>sempre que possível agora, eu opto por alternativas da comunidade, alguns exemplos de trocas que podem ser feitas:</p>
<br>

<table>
    <tr>
        <th>empresa</th>
        <th>comunidade</th>
    <tr>
    <tr>
        <td>react, angular</td>
        <td>vue</td>
    <tr>
    <tr>
        <td>ubuntu, fedora</td>
        <td>arch, gentoo</td>
    <tr>
    <tr>
        <td>bitwarden</td>
        <td>keepassxc</td>
    <tr>
    <tr>
        <td>vscode, jet brains</td>
        <td>nvim, micro</td>
    <tr>
    <tr>
        <td>brave, firefox</td>
        <td>zen, qutebrowser</td>
    <tr>
</table>
<br>

<p>não é porquê é de código aberto, que não significa que tem filhos da puta por trás.</p>

{% set reply = "comunidades->-empresas" %}
{% include "partials/pensamentos-footer.njk" %}



{% endblock %}
