{% extends "layouts/base.njk" %}

{% set title = "moon - pensamentos" %}

{% block content %}

<p>email, esse muito antigo e defasado protocolo, que todo mundo ainda é obrigado a usar. mesmo que ele tenha passado por melhorias com forme os anos foram passando, ela está muito longe de ser um bom protocolo pra comunicação. E se eu dizer que eles podem ser de certa forma uma salvação? eles podem ser a salvação, o que pode nos livrar de mensageiros desnecessariamente pesados e que são controlados por empresas, como whatsapp e telegram. </p>
<br>


<p>Pense comigo, o software que provavelmente é o mais dificil de trocar na jornada pela privacidade é o mensageiro, pois pra voce trocar voce depende que os outros troquem. mas olha só, email todo mundo tem, todo mundo é basicamente obrigado a ter. Pode até ser um pouco engraçado defender emails em uma conversa sobre privacidade, mas em um email, eu posso escolher o provedor que eu preferir, eu mesmo posso sem muita dificuldade ter o proprio servidor de email. Nenhum mensageiro que é realmente usado te dá essa liberdade, <b>Matrix</b> e <b>XMPP</b> te dam isso, mas ninguem os usa. Ou voce acha que sua mãe instalará um cliente matrix só pra falar contigo?</p>
<br>

<p>deferia ser ao menos, não tão normalizado o uso desses mensageiros, deixar todas as suas conversas pessoais na mão dessas empresas? isso é péssimo. email está muito longe de ser o ideal, mas pelo menos as pessoas o usam. E aí entra outro problema, os provedores de email. Mesmo que você tenha liberdade de escolha a grande maioria das pessoas só usam gmail, e mesmo que o seu provedor faça uso da criptografia, terá que ser descriptografado para chegar ao usuario do gmail. Sim, existe <b>PGP</b>, mas acho mesmo que alguém que usa whatsapp vai se preocupar com <b>PGP</b>? <b>PGP</b> apesar de necessário é algo chato pra caralho.</p>
<br>

<p>pare de usar <b>whatsapp</b>, pare de usar coisas nojentas de empresas bilionarias.</p>

{% include "partials/goback.njk" %}

{% endblock %}
