{% extends "layouts/base.njk" %}

{% set title = "moon - pensamentos" %}

{% macro post(path, name)%}
    <li><a href="{{ path }}">{{ name }}</a></li>
{% endmacro %}

{% block content %}
<!-- p><i>eu não pensei ainda.</i></p -->

<ul id="indent">
    {{ post("./tedio.html", "o sentimento mais importante") | safe }}
</ul>

{% endblock %}
