{% extends "layouts/base.njk" %}

{% set title = "moon - pensamentos" %}

{% macro post(path, name, date)%}
    <li><span>{{ date }}</span> <a href="{{ path }}">{{ name }}</a></li>
{% endmacro %}

{% block content %}
<!-- p><i>eu não pensei ainda.</i></p -->

<ul id="indent">
    {{ post("./comunidades.html", "comunidades > empresas", "2026-02-02") | safe }}
    {{ post("./emails.html", "emails", "2026-02-02") | safe }}
    {{ post("./carros.html", "carros", "2025-12-29") | safe }}
    {{ post("./tedio.html", "o sentimento mais importante", "2025-12-29") | safe }}
</ul>

{% endblock %}
