{% extends "layouts/base.njk" %}

{% set title = "moon - pensamentos" %}

{% block content %}

<h3>o sentimento mais importante</h3>
<br>

<p>se alguém te fazer a seguinte pergunta: <i>qual é o sentimento mais importante?</i>. voce responderia <i>tedio</i>? bem, eu acho dificil, mas sim, ele é muito importante. chega a ser contraditorio por ele nessa prateleira dos mais importantes, sendo que sempre estamos tentando acabar com ele, ele sempre é deixado para canto.</p>
<br>

<p>quando você está em tédio, seu cerebro entra no modo "padrão" dele, a chamada: rede de modo padrão (<a href="https://pt.wikipedia.org/wiki/Rede_de_modo_padr%C3%A3o#Fun%C3%A7%C3%A3o">fonte</a>). é aí que você começa a pensar nas coisas que aconteceram, e nas que acontecerão, pensar em si mesmo e por aí vai. mas seu corpo tenta constantemente sair deste estado, aí que vem o tédio
</p>
<br>

<p>quando você está entediado é aí que seu cerebro pensa, é aí que você tem as ideias que precisa, muito se fala sobre como no banho é um lugar que se pensa em muitas coisas, e é exatamente por isso. o tedio é refugio para a mente, é onde ela descansa. se voce substituir isso por algum lazer, sentirá exaustão, muito exaustão mental.
</p>

<p>o tedio também torna as pessoas mais altruistas, pessoas que doam sangue e ou simplesmente doam a caridade, costumam passar mais tempos em tedio.</p>
<br>

<p>eu acabei não citando aqui o famoso experimento de harvard com o botão que dá choque, pois eu o encontrei demais durante minhas pesquisas, mas vale uma olhada caso tenha interesse.</p>
<br>

<p><b>aviso</b>: <i>este arquivo foi escrito por um completo leigo que apenas se interessou pelo assunto, não leve nada disso como 100% correto.</i></p>

{% include "partials/goback.njk" %}

{% endblock %}
