{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/livros" %}

{% block content %}

<p>a leitura sempre foi uma enorme dificuldade para mim, mas venho buscando ler cada vez mais.</p>
<p>gostaria de em algum momento começar a escrever algumas reviews sobre eles também.</p>
<br>

<p>paginas sobre livros:</p>
<ul id="indent">
    <li><a href="./lidos.html">livros que já "li"</a></li>
    <li><a href="./ler.html">livros para ler</a></li>
</ul>

{% endblock %}
