{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/livros" %}

{% block content %}

<p>em comunidades de filmes é comum você ver a expressão "watchlist", que são filmes que você vai/quer assistir, uma lista deles. quero aqui fazer o mesmo, mas para livros. uma especie de <i>readlist</i>.</p>

<ul>
    <li>no café - errico malatesta (1922)</li>
    <li>fahrenheit 451 - ray bradbury (1953)</li>
    <li>admiravel mundo novo - aldous huxley (1932)</li>
    <li>programador pragmatico - andrew hunt / david thomas (1999)</li>
    <li>viagem ao centro da terra - julio verne (1864)</li>
    <li>nós - yevgeny zamyatin (1921)</li>
    <li>sobre a brevidade da vida - seneca (49)</li>
    <li>eu, robô - isaac asimov (1950)</li>
    <li>o grande gatsby - scott fitzgerald (1925)</li>
    <li>a consquista do pão - piotr kropotkin (1892)</li>
    <li>eterna vigilancia - edward snowden (2019)</li>
    <li>duna - frank herbert (1965)</li>
</ul>

{% include "partials/goback.njk" %}

{% endblock %}
