{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/livros" %}

{% block content %}

<p>aqui os livros que eu já li (que eu lembro), e também os que eu droppei.</p>
<br>
<h3>lendo</h3>
<ul id="indent">
    <li>guerra dos mundos - h.g wells (1898)</li>
</ul>

<h3>2025</h3>
<ul id="indent">
    <li>1984 - george orwell (1949) (releitura)</li>
    <li>revolução dos bichos - george orwell (1945) (releitura)</li>
    <li>o estranho misterioso - mark twain (1916)</li>
</ul>

<h3>antes de 2025</h3>
<ul id="indent">
    <li>revolução dos bichos - george orwell (1945)</li>
    <li>1984 - george orwell (1949)</li>
    <li>entregas expressas de kiki - eiko kadono (1985)</li>
    <li>cronicas de avonlea - lucy montgomery (1912)</li>
</ul>

<h3>dropped</h3>
<ul id="indent">
    <li>guerras dos mundos - h.g wells (1898)</li>
    <li>metamorfose - franz kafka (1915)</li>
    <li>o preço de ser diferente - monica de castro (2009)</li>
    <li>medo de amar - marcelo cezar (2008)</li>
    <li>minha vida minha obra - henry ford (1922)</li>
</ul>

{% include "partials/goback.njk" %}

{% endblock %}
