:root {
    --bg: #fffcf3;
    --fg: #777777;
    --orange: #d17e25;
    --sec: #f4f1e9;
    --light: #999;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000000;
        --fg: #777777;
        --orange: #d17e25;
        --sec: #111111;
    }
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Terminus;
    src: url(../TerminessNerdFontMono-Regular.woff2) format("woff2");
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Terminus, 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.centralize {
    height: 100vh;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-style: normal;
    margin-bottom: 20px;
}

#lambda {
    font-size: 2em;
    padding: 20px;
}

a {
    color: var(--light);
    text-decoration: none;
}

#title:hover {
    text-decoration: underline;
}

main:has(#title:hover) a,
#title:hover,
a:hover {
    color: var(--orange);
}

h2::after,
h2::before,
h3::after,
h3::before {
    content: "--";
}

pre {
    padding: 0.5rem;
    overflow: auto;
    margin: 20px 0px;
}

.astro-code.github-dark {
    background-color: var(--sec);
    color: var(--light);
}

code {
    font-family: monospace;
}
