{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/jogos" %}

{% block content %}

<p>os jogos sempre foram algo muito presente na minha vida, joguei muito no ps2 graças a pirataria e mais tarde caí as graças dos jogos online e da abençoada emulação no mobile. hoje eu basicamente apenas jogo jogos por emulação.</p>
<br>

<p>outras paginas:</p>
<ul id="indent">
    <li><a href="./zerar.html">o que eu considero zerar</a></li>
    <li><a href="./zerados.html">jogos que zerei</a></li>
    <li><a href="./proximos.html">jogos que quero zerar</a></li>
</ul>

{% endblock %}
