{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/jogos" %}

{% block content %}

<p>os proximos jogos que eu gostaria de zerar, não necessariamente em ordem.</p>
<p>é marcada um * ao lado do ano dos jogos que eu já quase zerei no passado.</p>
<br>

<h3>nes</h3>
<ul id="indent">
    <li>felix the cat - 1992</li>
    <li>castlevania - 1986*</li>
    <li>megaman 2 - 1988*</li>
    <li>ninja gaiden - 1989*</li>
    <li>panic restaurant - 1992</li>
    <li>duck tales - 1989</li>
    <li>battletoads - 1991</li>
    <li>mr. gimmick - 1992</li>
    <li>splatterhouse wanpaku graffiti - 1989*</li>
</ul>

<h3>master system</h3>
<ul id="indent">
    <li>sonic chaos - 1993</li>
</ul>

<h3>snes</h3>
<ul id="indent">
    <li>f-zero - 1990</li>
    <li>kirby super star - 1996</li>
    <li>donkey kong country - 1994</li>
    <li>super mario kart - 1992</li>
    <li>breath of fire - 1993</li>
    <li>earthbound - 1994</li>
</ul>

<h3>mega drive</h3>
<ul id="indent">
    <li>streets of rage - 1991</li>
    <li>castle of illusion - 1990</li>
    <li>sonic - 1991</li>
</ul>

<h3>n64</h3>
<ul id="indent">
    <li>super mario 64 - 1996</li>
    <li>kirby 64 - 2000</li>
    <li>paper mario - 2000</li>
</ul>

<h3>ps1</h3>
<ul id="indent">
    <li>dead or alive - 1998*</li>
    <li>crash bandicoot - 1996</li>
    <li>resident evil - 1996</li>
    <li>dino crisis - 1999</li>
    <li>diablo - 1996</li>
    <li>pepsiman - 1999</li>
    <li>tekken - 1994</li>
    <li>tekken 2- 1995</li>
    <li>tekken 3- 1998</li>
    <li>bloody roar 2- 1999</li>
    <li>colin mcrae rally - 1998*</li>
    <li>colin mcrae rally 2.0 - 2000*</li>
</ul>

<h3>ps2</h3>
<ul id="indent">
    <li>god of war - 2005*</li>
    <li>god of war 2 - 2007*</li>
    <li>devil may cry - 2001</li>
    <li>ratchet & clank - 2002</li>
    <li>sly cooper - 2002</li>
    <li>burnout 3 takedown - 2004*</li>
    <li>initial d special stage - 2003</li>
</ul>

<h3>gba</h3>
<ul id="indent">
    <li>tactics ogre: the knight of lodis - 2001*</li>
    <li>mario kart super circuit - 2001</li>
    <li>castlevania aria of sorrow - 2003</li>
</ul>

<h3>psp</h3>
<ul id="indent">
    <li>god of war ghost of sparta - 2010*</li>
    <li>god of war chains of olympus - 2008*</li>
</ul>

<h3>nds</h3>
<ul id="indent">
    <li>pokemon platinum - 2008*</li>
    <li>pokemon white - 20010*</li>
    <li>mario kart ds - 2005*</li>
</ul>

<h3>gc</h3>
<ul id="indent">
    <li>kirby airride - 2003</li>
    <li>super mario sunshine - 2002</li>
</ul>

<h3>wii</h3>
<ul id="indent">
    <li>kirby epic yarn - 2010</li>
    <li>super mario galaxy - 2007</li>
</ul>

<h3>3ds</h3>
<ul id="indent">
    <li>pokemon y - 2013</li>
    <li>pokemon moon - 2016</li>
</ul>


{% include "partials/goback.njk" %}

{% endblock %}
