{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/jogos" %}

{% block content %}

<p>os proximos jogos que eu gostaria de zerar, não necessariamente em ordem.</p>
<br>

<h3>nes</h3>
<ul id="indent">
    <li>felix the cat - 1992</li>
    <li>castlevania - 1986</li>
    <li>megaman 2 - 1988</li>
    <li>ninja gaiden - 1989</li>
    <li>panic restaurant - 1992</li>
</ul>

<h3>snes</h3>
<ul id="indent">
    <li>f-zero - 1990</li>
    <li>kirby super star - 1996</li>
</ul>

<h3>ps1</h3>
<ul id="indent">
    <li>dead or alive - 1998</li>
    <li>crash bandicoot - 1996</li>
    <li>resident evil - 1996</li>
    <li>dino crisis - 1999</li>
</ul>

<h3>ps2</h3>
<ul id="indent">
    <li>god of war - 2005</li>
    <li>devil may cry - 2001</li>
    <li>ratchet & clank - 2002</li>
    <li>sly cooper - 2002</li>
</ul>

<h3>wii</h3>
<ul id="indent">
    <li>kirby epic yarn - 2010</li>
</ul>

{% endblock %}
