{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/jogos" %}

{% block content %}

<p>sempre gostei de jogar, mas zerar jogos sempre foi bem dificil. mesmo assim tenho uma breve lista, a maioria eu não tenho quaisquer data.</p>
<br>

<h3>2025</h3>
<ul id="indent">
    <li>black - ps2</li>
    <li>dead or alive 2 - ps2</li>
    <li>dragon ball advance adventure - gba</li>
    <li>godzilla save the earth - ps2</li>
</ul>

<h3>zerado</h3>
<ul id="indent">
    <li>kirby adventure - nes</li>
    <li>kirby dream land - gb</li>
    <li>ridge racer type 4 - ps1</li>
    <li>pokemon firered - gba</li>
    <li>pokemon sapphire - gba</li>
    <li>pokemon emerald - gba</li>
    <li>kirby nightmare in the dream land - gba</li>
    <li>pokemon soulsilver - nds</li>
    <li>naruto ninja destiny - nds</li>
    <li>sega rally revo - psp</li>
    <li>guilty gear x advance edition - gba</li>
    <li>soul blade - ps1</li>
    <li>soul calibur broken destiny - psp</li>
    <li>mario kart 64 - n64</li>
    <li>ridge racer - ps1</li>
    <li>ridge racer 2 - ps1</li>
    <li>motortoon grand prix - ps1</li>
    <li>mario kart double dash - gc</li>
    <li>mario kart wii - wii</li>
</ul>

{% endblock %}
