{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/jogos" %}

{% block content %}

<p>não há um real consenso sobre o que é zerar um jogo, especialmente em jogos mais diferentes, tipo jogos de esporte e jogos de corrida.</p>
<p>exemplos de jogs que complicam a definição de zerar são as franquias gran turismo e fifa.</p>

<p> o que <i>eu</i> considero é:</p>
<br>
<ul>
    <li><b>em jogos lineares</b> é simplesmente terminar a historia.</li>
    <li><b>em jogos de luta</b> fazer o modo arcade/principal de ponta-a-ponta.</li>
    <li><b>em jogos de corrida</b> conseguir finalizar todas as corridas ou terminar até a ultima corrida do jogo</li>
    <li><b>em jogos de esporte</b> vencer todos os principais torneios ou finalizar uma carreira.</li>
</ul>
<br>

<p>outra coisa que quero falar aqui, é sobre <i>platinas</i>. alguns jogos eu acabo platinando, e em alguns casos a ideia de platina e zerar se misturam. em muitos dos jogos da franquia mario kart por exemplo.</p>
<p>eu não faço qualquer <i>tracking</i> dos jogos que eu platino, quem sabe alguma hora ponho essas informações aqui</p>

{% include "partials/goback.njk" %}

{% endblock %}
