{% extends "layouts/base.njk" %}

{% set title = "moon" %}

{% block content %}

<p>este aqui é meu site pessoal, agora gosto de colocar alguns pensamentos, coisas sobre mim, entre outras coisas.</p>
<br>

<p>sempre lembre-se de:</p>
<br>

<p>NÂO À:</p>
<ul id="indent">
    <li>vigilancia</li>
    <li>redes sociais</li>
    <li>censura</li>
    <li>totalistarismo</li>
</ul>

<p>E SIM À:</p>
<ul id="indent">
    <li>privacidade</li>
    <li>liberdade</li>
    <li>pirataria</li>
    <li>anarquia</li>
</ul>
{% endblock %}
