{% extends "layouts/base.njk" %}

{% set title = "moon" %}

{% block content %}
<p>este aqui é meu site pessoal, aqui quero escrever e mostrar algumas coisas, especialmente sobre computação e linguistica.</p>
<br>
<p>apesar de gostar de conhecimento no geral, eu estudo principalmente programação, mais especialmente backend e um pouco de low level.</p>
<br>
<p>em outros momentos costumo fazer conlangs e no processo aprender sobre as linguas e a linguistica.</p>
{% endblock %}
