{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/languages" %}

{% block content %}

<h3>high level</h3>
<ul id="indent">
    <li><a href="./typescript.html">typescript</a></li>
</ul>

{% endblock %}
