{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/languages" %}

{% block content %}

<p>typescript.</p>
<br>
<p>essa é a linguagem que uso no meu dia-a-dia, a única linguagem que eu tenho um bom dominio.</p>
<p>apesar de seus problemas que em grande parte são herdados do javascript, ainda é uma ótima linguagem que não te traz muitas limitações, principalmente agora que o typescript tem runtimes decentes como: bun e deno. node é péssimo.</p>

{% endblock %}
