<header>
    <div id="moon">
        <a href="/"><pre>
               ⣀⣤⡴⠶⠿⠛⢏⡿⠖⠂          
            ⢀⡴⣞⠯⠉⠈ ⣠⡶⠊             
          ⣠⣴⠟⠙⠈⣎⡹⠂⣴⠋               
         ⢠⣯⡟⢚⣀   ⡰⠁                
         ⡿⡃⢋⣌⠂⠈⠆⡠⡎                 
        ⣸⢿⠎⢰⡈ ⠈ ⣹⠃                 
        ⣸⣿⡄⠷⣠   ⡸⡗                 
        ⢹⣾⣿⣷⣛   ⣜⣷                 
        ⠸⣿⢻⣏⠸⡃  ⠈⢹⢧⡀               
         ⢻⣿⡮⣠⣗⠒⠤  ⠹⣳⣤⡀             
          ⣼⢿⣗⣧⣦⢤⠇⢀⣤⣄⠙⣿⡦⣄        ⢀⣤⠄
          ⠈⠛⢏⣷⣶⣜⣤⣈⠂⠜ ⢀⣀⡉⡭⠯⠖⠲⠒⢶⢖⣯⠟⠁ 
             ⠙⠻⣿⣿⣷⣷⣯⣔⡿⣃⠦⡵⣠⠠⢤⣤⠿⠋    
                ⠉⠛⠓⠿⠽⣷⣿⣾⡿⠞⠛⠉        </pre></a>
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">home</a></li>
            <li>|</li>
            <li><a href="/posts.html">posts</a></li>
            <li>|</li>
            <li><a href="/wiki/index.html">wiki</a></li>
        </ul>
    </nav>
</header>
