{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/series" %}

{% block content %}

<p>nunca foi um grande adepto a ver séries, vi alguma aqui e ali, especialmente animações. como uso o myanimelist para animes, vou separar os animes dos restantes, e manter animações e live actions juntos.</p>
<br>

<p>aqui foquei em series que eu tenho certeza que já vi tudo.</p>
<br>

<p>animes: <a target="_blank" href="https://myanimelist.net/animelist/chokito4?status=2&order=4&order2=0">myanimelist</a></p>
<br>

<p>series:</p>
<ul>
    <li><a href="smilling-friends.html">smilling friends - 5.0</a></li>
    <li>bridgerton - 3.5</li>
    <li>gravity falls - 5.0</li>
</ul>

{% endblock %}
