{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/series" %}

{% block content %}

<h3>smilling friends</h3>
<p>nota: 5</p>
<br>

<p>todos os momentos foram muito hilários, é impressionante como todo episódio é primordial. todos os personagens tem otimas personalidades, que não são quebradas em momento algum, mesmo se tratando de uma comédia absurda. todo episodio tem uma situação que exemplifica muito bem a diferença entre cada um dos 5 personagens principais.</p>
<br>

<h4>temporadas</h4>
<p>primeira temporada: 5</p>

{% include "partials/goback.njk" %}

{% endblock %}
