{% extends "layouts/base.njk" %}

{% set title = "moon - wiki/blogs" %}

{% block content %}
<p>recomendações de outros blogs</p>
<br>
<h3>tech</h3>
<ul id="indent">
    <li><a target="_blank" href="https://マリウス.com/">マリウス</a></li>
    <li><a target="_blank" href="https://ratfactor.com/">ratfactor</a></li>
    <li><a target="_blank" href="https://j3s.sh/">j3s</a></li>
    <li><a target="_blank" href="https://tadaima.bearblog.dev/">tadaima</a></li>
    <li><a target="_blank" href="https://paritybit.ca/">paritybit</a></li>
    <li><a target="_blank" href="https://denshi.org/">denshi</a></li>
    <li><a target="_blank" href="https://jvns.ca/">julia evans</a></li>
    <li><a target="_blank" href="https://pspodcasting.net/">pspodcasting</a></li>
    <li><a target="_blank" href="https://ovelny.sh/">ovelny</a></li>
    <li><a target="_blank" href="https://www.gmgall.net/">gmgall</a></li>
    <li><a target="_blank" href="https://piuvas.net/">piuvas</a></li>
    <li><a target="_blank" href="https://manualdousuario.net/">manual do usuario</a></li>
    <li><a target="_blank" href="https://www.edivaldobrito.com.br/">edivaldobrito</a></li>
    <li><a target="_blank" href="https://chotrin.org/">chotrin</a></li>
    <li><a target="_blank" href="https://borretti.me/">borretti</a></li>
    <li><a target="_blank" href="https://drkhsh.at/">drkhsh</a></li>
    <li><a target="_blank" href="https://uninformativ.de">uninformativ</a></li>
    <li><a target="_blank" href="https://codemadness.org">codemadness</a></li>
    <li><a target="_blank" href="https://carlosbecker.com/posts/">carlosbecker</a></li>
    <li><a target="_blank" href="https://blog.z3bra.org/">z3bra</a></li>
    <li><a target="_blank" href="https://blog.parasrah.com/posts">parasrah</a></li>
    <li><a target="_blank" href="https://an_g6.codeberg.page/">an_g6</a></li>
    <li><a target="_blank" href="https://lugh.ch">lugh</a></li>
    <li><a target="_blank" href="https://2f30.org">2f30</a></li>
    <li><a target="_blank" href="https://lyngvaer.no/">lyngvaer</a></li>
</ul>
<h3>non-tech</h3>
<ul id="indent">
    <li><a target="_blank" href="https://cujo.casa">cujo</a></li>
    <li><a target="_blank" href="https://verdemusgo.neocities.org/">verdemusgo</a></li>
    <li><a target="_blank" href="https://blog.walker.eco.br/">hum blog qualuqer</a></li>
    <li><a target="_blank" href="http://www.finalgirl.com.br/">finalgirl</a></li>
    <li><a target="_blank" href="https://www.anica.com.br/">anica</a></li>
    <li><a target="_blank" href="https://tzal.org/">tzal</a></li>
    <li><a target="_blank" href="https://arquiteturaemnotas.com/">arquiteturaemnotas</a></li>
    <li><a target="_blank" href="https://kiff.bearblog.dev/">kiff</a></li>
    <li><a target="_blank" href="https://sol2070.in/">sol2070</a></li>
    <li><a target="_blank" href="https://blog.ayom.media/felipe-siles/">felipe-siles</a></li>
    <li><a target="_blank" href="https://pornisdicey.neocities.org/home/">pornisdicey</a></li>
</ul>

{% endblock %}
