{% extends "layouts/base.njk" %}

{% set title = "moon - wiki" %}

{% block content %}

<p>esta é a minha wiki.</p>
<br>

<h3>linux</h3>
<ul id="indent">
    <li><a href="./linux/artix-encrypted.html">artix encrypted</a></li>
</ul>

<h3>midia</h3>
<ul id="indent">
    <li><a href="./blogs.html">blogs</a></li>
    <li><a href="./livros/">livros</a></li>
    <li><a href="./jogos/">jogos</a></li>
    <li><a target="_blank" href="https://letterboxd.com/induardo/films/by/entry-rating">filmes</a></li>
    <li><a target="_blank" href="https://myanimelist.net/animelist/chokito4?status=2&order=4&order2=0">animes</a></li>
</ul>

<h3>code</h3>
<ul id="indent">
    <li><a href="./languages/">languages</a></li>
    <li><a target="_blank" href="https://github.com/deveducaua">github</a></li>
</ul>

{% endblock %}
